:host {
  .mrgeek-card {
    max-width: 400px;
    margin: auto;
  }
  
  .mrgeek-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .mrgeek-env-last-n-lines{ 
    background-color: #5f5f5f;
    overflow: auto;
    border-radius: 5%;
    padding: 1em;
    min-height: 215px;
    max-height: 215px;
    min-width: 330px;
    max-width: 330px;
  }

  code {
    height: auto;
    max-height: 200px;
    white-space: pre-line;
    white-space: -moz-pre-line;
    white-space: -pre-line;
    white-space: -o-pre-line;
    word-wrap: break-word;
  }
}