<mat-card class="mrgeek-card">
  <mat-card-header>
    <div mat-card-avatar class="mrgeek-header-image"></div>
    <mat-card-title>{{ env.name }}</mat-card-title>
    <mat-card-subtitle>{{ env.id }}</mat-card-subtitle>
    <mat-card-subtitle>{{ env.path }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <span *ngIf="isRunning()">Running on PID: {{ env.pid }}</span>
    <div class="mrgeek-env-last-n-lines">
      <code>
        {{lastNLinesOfLog}}
      </code>
    </div>
  </mat-card-content>
    <mat-card-actions>
      <button *ngIf="!isRunning()" mat-button color="primary" (click)="_run()">RUN</button>
      <button *ngIf="isRunning()" mat-button color="accent" (click)="_stop()">STOP</button>
      <button mat-button color="warn" (click)="_remove()">REMOVE</button>
  </mat-card-actions>
</mat-card>